<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification</title>
</head>
<body>
    <h2>Здраствуйте, ув. {{ appointment.client_name }}!</h2>
    <p> Сообщаем Вам, что на сайте velosiped.test в категории {{категория}}, на которую вы подписаны появилась новая {{новость или статья}} - {{название статьи или новости}}</p>
    Отписаться от рассылки вы конечно же не можете! Почему? Потому наш веб-разработчик полнейший нуб<br>
    Всего Вам хорошего!
</body>
</html>