{% extends 'default.html' %}
{% comment About %}
Article delete page
{% endcomment %}
{% load custom_filters_and_tags %}
{% load i18n %}

{% block title %} {% translate 'Публикации' %} {% endblock title %}

{% block content %}
{% include 'language_switch_form.html' %}
<h2>{% translate 'Вы действительно хотите удалить данную публикацию?' %}</h2>
<table>
    <thead>
        <tr>
            <th>{% translate 'Заголовок'%}</th>
            <th>{% translate 'Описание'%}</th>
            <th>{% translate 'Время добавления'%}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ post.article_title | censor }}</td>
            <td>{{ post.article_text | censor | truncatechars:80 }}</td>
            <td>{{ post.article_time_in | date:'d-m-y H:i' }}</td>
        </tr>
    </tbody>
</table>

<form method="POST">
    {% csrf_token %}
    <input type="submit" value={% translate 'Подтвердить' context 'YES-like expression'%}></form>
<a href={% url 'posts_full' %}><u>{% translate 'Отмена' context 'NO-like expression'%} </u></a>
{% endblock content %}