<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'default.html' %}

{% load custom_filters %}

<!-- Название у нас будет proudcts -->
{% block title %}
Детали статьи
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<table>
            <tr>
                <td>
                    Заголовок
                </td>
                <td>
                    Содержание
                </td>
                <td>
                    Время добавления
                </td>
            </tr>
            <tr>
                <td>
                    {{ post.article_title | censor }} <!-- не забываем что переменные в шаблоне ничем не отличаются от переменных в python. Здесь также можно получать доступ к полям класса. Например здесь мы выводим имя, в следующем столбце описание, и т.д.  -->
                </td>
                <td>
                    {{ post.article_text | censor | truncatechars:80 }}
                </td>
                <td>
                    {{ post.article_time_in | date:'d-m-y H:i'}}
                </td>
            </tr>
        </table>
{% endblock content %}
