{% extends 'default.html' %}
{% comment About %}
All articles page
{% endcomment %}
{% load custom_filters_and_tags %}
{% load i18n %}



{% block content %}
{% include 'language_switch_form.html' %}
<h1>{% translate 'Публикации'%}</h1>
    <h3>{% blocktranslate with time=time_now|date:"d E Y"%}{{ time }} года{% endblocktranslate %}<br>{% time "%H:%M" %}</h3> <!-- Added custom tag "time" -->
<hr>
<table>
    <thead>
        <tr>
            <th>{% translate 'автор'|capfirst%}</th> <!-- Test "First capital letter - filter"   -->
            <th>{% translate 'Заголовок'%}</th>
            <th>{% translate 'Описание'%}</th>
            <th>{% translate 'Категория'%}</th>
            <th>{% translate 'Время$$$ публикации'|cut:'$'%}</th><!-- Test "Cut- filter" -->
        </tr>
    </thead>
    <tbody>

    {% for post in posts %}
        {% with post.article_category.all as all_art_cat %} <!-- Test with-tag with "as" assignment-->
        <tr>
            <td>{{ post.article_author }}</td>
            <td>{{ post.article_title | censor }}</td>
            <td>{{ post.article_text | censor | truncatechars:50 }}</td>
            <td>
                {% for category in all_art_cat %}
                    {% with all_cat_sub=category.category_subscriber.all %} <!-- Test with-tag with "=" assignment-->
                    {{ category }}<br>
                    {% if user in all_cat_sub %}
                        <form action = "{% url 'subscribe' %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" name="category_id" value="{{ category.id }}">{% translate 'Отписаться от'%} {{ category }}</button>
                        </form>
                    {% else %}
                        <form action = "{% url 'subscribe' %}"  method="POST">
                        {% csrf_token %}
                        <button type="submit" name="category_id" value="{{ category.id }}">{% translate 'Подписаться на'%} {{ category }}</button>
                        </form>
                    {% endif %}
                    {% endwith %}
                {% endfor %}
            </td>
            <td>{{ post.article_time_in | date:"d-m-Y H:i"}}</td>
        </tr>
        {% endwith %}
    {% empty %} <!-- Part of cycle for (built-in Django tags). If list posts is empty, then: -->
        <h2>{% translate 'Публикаций нет!'%}</h2>
    {% endfor %}
    </tbody>
</table>
<a href={% url 'posts_full' %}>{% translate 'Редактирование\Полный список публикаций'%}</a> <br>

<!-- Проверяем что поддерживается постраничный вывод -->
{% if is_paginated %}

    <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}

    <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

{% endif %}
{% endblock content %}
