{% extends 'default.html' %}
{% comment About %}
Article details page
{% endcomment %}
{% load custom_filters_and_tags %}
{% load i18n %}

{% block title %}
Детали статьи
{% endblock title %}

{% block content %}
{% include 'language_switch_form.html' %}
<table>
    <thead>
        <tr>
            <th>{% translate 'Заголовок' %}</th>
            <th>{% translate 'Содержание' %}</th>
            <th>{% translate 'Время добавления' %}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ post.article_title | censor }}</td>
            <td>{{ post.article_text | censor }}</td>
            <td>{{ post.article_time_in | date:'d-m-y H:i'}}</td>
        </tr>
    </tbody>
</table>
<a href={% url 'posts_full' %}><u>{% translate 'Назад' %}</u></a>
{% endblock content %}
