<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'default.html' %}

{% load custom_filters %}


<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<h1>Публикации</h1>
<h3>{{ time_now }}</h3>
<hr>
{% if posts %}
<table>
    <thead>
        <th>
            Автор
        </th>
        <th>
            Заголовок
        </th>
        <th>
            Описание
        </th>
        <th>
            Категория
        </th>
        <th>
            Время публикации
        </th>
    </thead>
    {% for post in posts %}
    <tr>
        <td>
            {{ post.article_author }}
        </td>
        <td>
            {{ post.article_title | censor }}
        </td>
        <td>
            {{ post.article_text | censor | truncatechars:50 }}
        </td>
        <td>
            {% for category in post.article_category.all %}{{ category }}<br>
            {% if user in category.category_subscriber.all %}
                <form action = "{% url 'subscribe' %}" method="POST">
                {% csrf_token %}
                <button type="submit" name="category_id" value="{{ category.id }}">Отписаться от {{ category }}</button>
                </form>
            {% else %}
                <form action = "{% url 'subscribe' %}"  method="POST">
                {% csrf_token %}
                <button type="submit" name="category_id" value="{{ category.id }}">Подписаться на {{ category }}</button>
                </form>
            {% endif %}
            {% endfor %}
        </td>
        <td>
            {{ post.article_time_in | date:"d-m-Y H:i"}}
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
    <h2>Публикаций нет!</h2>
{% endif %}

<a href="{% url 'posts_full' %}">Редактирование\Полный список публикаций</a> <br>

<!-- Проверяем что поддерживается постраничный вывод -->
{% if is_paginated %}

    <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}

    <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

{% endif %}
{% endblock content %}
