{% extends 'default.html' %}

{% load custom_filters %}

{% block title %}
Поиск
{% endblock title %}


{% block content %}
<form method="GET">
    {{ filter.form }} <!-- Форму от фильтров за нас сделает django. А вот кнопку, увы придётся делать самому -->
    <input type="submit" value="Найти">
</form>
<table>
    <thead>
        <tr>
            <th>Заголовок</th>
            <th>Содержание</th>
            <th>Автор</th>
            <th>Время добавления</th>
        </tr>
    </thead>
    <tbody>
    {% for post in filter.qs %} <!-- Для каждого товара будете генерироваться новая строчка, т.е. новый html код. При этом сам цикл работет точно также, как и в python. product — переменная цикла, т.е. наш товар взятый из общего списка -->
        <tr>
            <td>{{ post.article_title | censor }}</td>
            <td>{{ post.article_text | censor | truncatechars:80 }}</td>
            <td>{{ post.article_author }}</td>
            <td>{{ post.article_time_in | date:'d-m-y H:i'}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}
